li {
  border-bottom: 1px solid #eee;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.avatar {
  margin-right: 32px;
}

.content {
  height: 80px;
}

.title {
  font-size: 16px;
}

.subtitle {
  font-size: 14px;
  color: #aaa;
  font-weight: lighter;
}

.active {
  position: absolute;
  right: 20%;
  color: green;
}

.inactive {
  position: absolute;
  right: 20%;
  color: red;
}